{% extends 'base.html.twig' %}

{% block title %}
    Deelnemers {{ lesson.training.name }} op {{ lesson.date|date('j-m-Y') }}
{% endblock %}

{% block body %}
    <h2 class="text-secondary">Deelnemers</h2>

    {% for registration in lesson.registrations %}

        <div class="card mt-3 {% if registration.payment or lesson.training.costs == NULL %}{% else %}{{ 'bg-danger' }}{% endif %}">
            <div class="card-body">
                <p class="mb-0 {% if registration.payment or lesson.training.costs == NULL %}{% else %}{{ 'text-white' }}{% endif %}">Naam: <span
                            class="font-weight-bold">{{ registration.member.firstname }} {{ registration.member.lastname }}</span>
                    {% if lesson.training.costs > 0 %}
                    <td class="p-3"><p class="mb-0 {% if registration.payment or lesson.training.costs == NULL %}{% else %}{{ 'text-white' }}{% endif %}    ">Betaald: <span
                            class="font-weight-bold">{% if registration.payment %}<span
                                class="text-success"><i class="far fa-check-square text-dark"></i></span>{% else %}<span
                                class="text-danger"><a href="{{ path("deelnemerPayed", {id:registration.id }) }}"
                                                       class="far fa-square text-dark"></a></span></span></p></td>
                {% endif %}
                {% endif %}
            </div>
        </div>
    {% endfor %}

{% endblock %}

