{% extends "instructeur.html.twig" %}

{% block title %}
    Lessen
{% endblock %}

{% block body %}

    <a class="btn btn-success mt-2 mb-2 w-100" href="{{ path('instructeur_lessen_new') }}">Nieuwe les</a>
    <hr>
    <h3 class="text-secondary">Lessen</h3>
    <hr>

    {% for les in lessen %}
        <h4>{{ les.training.name }}</h4>
        <p><span class="font-weight-bold">Datum:</span> {{ les.date|date("Y/m/d") }}</p>
        <p><span class="font-weight-bold">Tijd:</span> {{ les.time|date("H:i") }}</p>
        <p><span class="font-weight-bold">Locatie:</span> {{ les.location }}</p>
        <p><span class="font-weight-bold">Maximaal aantal personen:</span> {{ les.maxPersons }}</p>
        <p><span class="font-weight-bold">Instructeur:</span> {{ les.instructor.firstname }} {{ les.instructor.lastname }}</p>
        <a class="btn btn-danger" href="#">Verwijder</a>
        <a class="btn btn-warning text-white" href="#">Wijzig</a>
        <hr>
    {% endfor %}



{% endblock %}