{% extends "instructeur.html.twig" %}

{% block title %}
    Nieuwe Les
{% endblock %}

{% block body %}

    <h1 class="text-success">Nieuwe les</h1>

    {{ form_start(lessonForm,{'attr': {'novalidate':'novalidate'}}) }}
    <div class="text-danger">
        {{ form_errors(lessonForm) }}
    </div>
    {{ form_row(lessonForm.time) }}
    {{ form_row(lessonForm.date) }}
    {{ form_row(lessonForm.max_persons) }}
    {{ form_row(lessonForm.training) }}
    {{ form_row(lessonForm.location_id) }}
    <input type="submit" class="btn btn-success w-100" value="Voeg les Toe">

    {{ form_end(lessonForm) }}
    {{ form_widget(lessonForm) }}



{% endblock %}