{% extends 'base.html.twig' %}

{% block title %}
    Instructeurs
{% endblock %}

{% block body %}

    <a class="btn btn-success w-100" href="{{ path('registerInstructeur') }}">Nieuwe instructeur aanmaken</a>

    {% for lid in leden %}
        <div class="card mt-3 {% if lid.isDisabled %}{{ 'text-muted' }}{% endif %}">
            <div class="card-body">
                <div class="card-title font-weight-bold">
                    {{ lid.firstname }} {{ lid.lastname }}
                    {% if lid.isDisabled %}<span class="badge badge-danger">Non-Actief</span>{% endif %}
                </div>
                <div class="card-text">
                    <a class="badge badge-warning" data-toggle="collapse" href="#collapseExample{{ lid.id }}"
                       role="button" aria-expanded="false" aria-controls="collapseExample{{ lid.id }}">
                        Meer info
                    </a>
                    <a class="badge badge-danger" href="{{ path('gebruikerVerwijderen', {id: lid.id}) }}">Verwijder account</a>
                    <div class="collapse" id="collapseExample{{ lid.id }}">
                        <ul class="list-group-flush m-0 p-0">
                            <li class="list-group-item bg-transparent"><span
                                        class="font-weight-bold">Geboorte datum:</span> {{ lid.dateofbirth|date('j F Y') }}
                            </li>
                            <li class="list-group-item bg-transparent"><span
                                        class="font-weight-bold">Geslacht:</span> {% if lid.gender %}{{ "Man" }}{% else %}{{ "Vrouw" }}{% endif %}
                            </li>
                            <li class="list-group-item bg-transparent"><span
                                        class="font-weight-bold">Email adres:</span> <a class="text-secondary"
                                                                                        href="mailto:{{ lid.emailaddress }}">{{ lid.emailaddress }}</a>
                            </li>
                            <li class="list-group-item"><a class="badge badge-dark" href="{{ path('lessenEmployee', {id: lid.id, type: 'trainer'}) }}">Bekijk lessen</a></li>
                            <li class="list-group-item"><a class="badge badge-dark" href="{{ path('omzet', {id: lid.id}) }}">Bekijk omzet</a></li>
                            {% if lid.isDisabled %}
                                <li class="list-group-item"><a class="badge badge-success" href="{{ path('nonActiefToggle', {id: lid.id, prev_page: 'instructeurs'}) }}">Zet op actief</a>
                                </li>{% else %}
                                <li class="list-group-item"><a class="badge badge-danger" href="{{ path('nonActiefToggle', {id: lid.id, prev_page: 'instructeurs'}) }}">Zet op inactief</a>
                                </li>{% endif %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}

{% endblock %}
