{% extends "administratie.html.twig" %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/form.css') }}">
{% endblock %}

{% block body %}

    <h1 class="text-success">Nieuwe training</h1>

    {{ form_start(trainingForm,{'attr': {'novalidate':'novalidate'}}) }}
    <span class="text-danger">
        {{ form_errors(trainingForm) }}
    </span>
    {{ form_row(trainingForm.name) }}
    <div class="mt-3 mb-3">
    {{ form_row(trainingForm.description) }}
    </div>
    {{ form_row(trainingForm.duration) }}
    <p class="text-muted">Tijd in minuten</p>
    {{ form_row(trainingForm.costs) }}
    <p class="text-muted">Wanneer de training gratis is vul niks in</p>
    <input type="submit" class="btn btn-success w-100" value="Voeg Training Toe">
    {{ form_widget(trainingForm) }}

{% endblock %}