{% extends "layout.html.twig" %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/theme_TF.css') }}">
    <link rel="stylesheet" href="{{ asset('css/overwrite.css') }}">
    <link href="https://fonts.googleapis.com/css?family=Black+Ops+One&display=swap" rel="stylesheet">
    <link rel="icon" href="{{ asset('img/logo.ico') }}">
{% endblock %}

{% block header %}
    <div class="container-header overflow-auto">
        <img class="float-left" src="{{ asset('img/logo.png') }}" width="10%">
        <h1 class="float-left">Training Centrum Den Haag</h1>
        <form class="float-right p-2">
            <div class="form-group">
                <input type="email" class="form-control" id="username" placeholder="Username">
            </div>
            <div class="form-group">
                <input type="password" class="form-control" id="password" placeholder="Wachtwoord">
            </div>
            <div class="float-right">
                <button type="submit" class="btn btn-primary">Log in</button>
                <a href="#" class="btn btn-primary">Reset ww</a>
            </div>
        </form>
        <hr class="border-primary">
    </div>
{% endblock %}

{% block nav %}
    <div class="container-nav">
        <nav class="navbar navbar-expand-lg">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01"
                    aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
                <ul class="nav">
                    <li class="nav-item">
                        <a class="nav-link text-primary " href="{{ path('home') }}">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('trainingen') }}">Trainings Aanbod</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Lid worden</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Gedragsregels</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Lokatie & Contact</a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
{% endblock %}

{% block javascripts %}
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
            integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
            integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.0/js/bootstrap.min.js"
            integrity="sha384-3qaqj0lc6sV/qpzrc1N5DC6i1VRn/HyX4qdPaiEFbn54VjQBEU341pvjz7Dv3n6P"
            crossorigin="anonymous"></script>
{% endblock %}
