{% extends 'bezoeker.html.twig' %}

{% block title %}Profiel Wijzigen{% endblock %}

{% block body %}
    <h1 class="text-warning">Profiel wijzigen</h1>

    {{ form_start(registrationForm,{'attr': {'novalidate':'novalidate'}}) }}
    <div class="text-danger">
        {{ form_errors(registrationForm) }}
    </div>
    <div class="row">
        {{ form_row(registrationForm.emailaddress) }}
    </div>
    <hr class="bg-secondary">
    <div class="row">
        {{ form_row(registrationForm.firstname) }}
    </div>
    <div class="row">
        {{ form_row(registrationForm.lastname) }}
    </div>
    <hr class="bg-secondary">
    <div class="row">
        {{ form_row(registrationForm.street) }}
    </div>
    <div class="row">
        {{ form_row(registrationForm.postalcode) }}
    </div>
    <div class="row">
        {{ form_row(registrationForm.place) }}
    </div>
    <input type="submit" class="btn btn-warning w-100 text-white" value="Wijzig profiel">
    {{ form_end(registrationForm) }}
    {{ form_widget(registrationForm) }}

{% endblock %}
