{% extends 'bezoeker.html.twig' %}

{% block title %}
    Inschrijvingen
{% endblock %}

{% block body %}

    <h3 class="mt-4 text-secondary">Inschreven lessen</h3>
    <hr class="bg-secondary">

    {% if registrations %}
        {% for registration in registrations %}
            {% if registration.lesson.date > curr_date %}
            <div class="card mb-3 w-100">
                <div class="row no-gutters">
                    <div class="col">
                        <div class="card-body">
                            <h5 class="card-title">{{ registration.lesson.training.name }}</h5>
                            <p class="card-text text-muted mb-0">
                                Aantal ingeschreven deelnemers: <span
                                        class="font-weight-bold text-secondary">{{ registration.lesson.registrations|length }}</span>
                            </p>
                            <p class="card-text text-muted mb-0">
                                Tijd: <span
                                        class="font-weight-bold text-secondary">{{ registration.lesson.time|date('H:i') }}</span>
                            </p>
                            <p class="card-text text-muted mb-0">
                                Datum: <span
                                        class="font-weight-bold text-secondary">{{ registration.lesson.date|date('j F Y') }}</span>
                            </p>
                            {% if registration.lesson.training.costs > 0 %}
                                <p class="card-text text-muted mb-0">
                                    Kosten: <span
                                            class="font-weight-bold text-secondary">&euro;{{ registration.lesson.training.costs }} <span class="text-muted font-weight-normal">Betaald:</span> {% if registration.payment %}{{ "Ja" }}{% else %}{{ 'Nee' }}{% endif %}</span>
                                </p>
                            {% endif %}
                            <p class="card-text text-muted">
                                Instructeur: <span
                                        class="font-weight-bold text-secondary">{{ registration.lesson.instructor.firstname }}</span>
                            </p>
                            <a class="btn btn-outline-danger" href="{{ path('uitschrijvenOpLes', {id: registration.id}) }}">Uitschrijven</a>
                        </div>
                    </div>
                </div>
            </div>
            {% endif %}
        {% endfor %}
    {% else %}

        <h5>U heeft u nog niet ingeschreven op een les <span class="">klik <a class="text-secondary"
                                                                              href="{{ path('inschrijvenOpLes') }}">hier</a> om u in te schrijven op les</span>
        </h5>

    {% endif %}

{% endblock %}