{% extends "bezoeker.html.twig" %}

{% block title %}
    Lessen
{% endblock %}

{% block body %}
    <h3 class="text-secondary">Lessen {% if subpage %} op <span
                class="text-dark">{{ curr_date|date("j F Y") }}</span>{% endif %}</h3>
    <a class="text-dark" href="{{ path('trainingen') }}">Klik hier om alle training te bekijken</a>

    {% if "ROLE_TRAINER" in app.user.getRoles %}
        <a class="btn btn-success mt-2 mb-2 w-100" href="{{ path('instructeur_lessen_new') }}">Nieuwe les</a>
    {% endif %}

    {#   Makes the bar with the dates for the lessons#}
    <ul class="nav nav-pills w-100 rounded mb-2 justify-content-center pl-2 pt-2 pr-2 pb-0 border mt-2">
        {% if subpage %}
            <li class="nav-item">
                <a class="badge badge-pill badge-secondary ml-1 mr-1 text-decoration-none p-2 pl-3 pr-3 mb-2"
                   href="{{ path('inschrijvenOpLes') }}">Alle lessen</a>
            </li>
        {% endif %}
        {% for date in dates %}
            {% if date == today_date %}
                <li class="nav-item">
                    <a class="badge badge-pill badge-secondary ml-1 mr-1 text-decoration-none p-2 pl-3 pr-3 mb-2 {% if date == curr_date %}{{ "focus" }}{% endif %}"
                       href="{{ path('inschrijvenOpLes', {date: date|date("d-m-Y")}) }}">Vandaag</a>
                </li>
            {% else %}
                <li class="nav-item">
                    <a class="badge badge-pill badge-secondary ml-1 mr-1 text-decoration-none p-2 mb-2 {% if date == curr_date %}{{ "focus" }}{% endif %}"
                       href="{{ path('inschrijvenOpLes', {date: date|date("d-m-Y")}) }}">{{ date|date("l j M") }}</a>
                </li>
            {% endif %}
        {% endfor %}
    </ul>

    {% if "ROLE_TRAINER" in app.user.getRoles %}
        {% if lessen == NULL %}
            <h2 class="w-100 text-center m-5">U heeft nog geen lessen ingepland</h2>
        {% endif %}
    {% else %}
        {% if lessen == NULL %}
            <h2 class="w-100 text-center m-5">Er zijn geen lessen ingepland op deze dag</h2>
        {% endif %}
    {% endif %}

    {% for les in lessen %}
        {#        Doesnt show the lessons of previous dates #}
        {% if les.date < today_date == false %}
            <div class="card mb-3 w-100">
                <div class="row no-gutters">
                    <div class="col-md-2">
                        <img src="{{ asset('img/banner2.jpg') }}" class="card-img h-100" alt="">
                    </div>
                    <div class="col-md-10">
                        <div class="card-body">
                            <h5 class="card-title">{{ les.training.name }} <span
                                        class="text-muted">{{ les.date|date('j F Y') }}</span></h5>
                            <p class="card-text">{{ les.training.description }}</p>
                            <p class="card-text text-muted mb-0">
                                Tijd: <span
                                        class="font-weight-bold text-secondary">{{ les.time|date("H:i") }}</span>
                            </p>
                            <p class="card-text text-muted mb-0">
                                Trainer: <span
                                        class="font-weight-bold text-secondary">{{ les.instructor.firstname }} {{ les.instructor.lastname }}</span>
                            </p>
                            <p class="card-text text-muted mb-0">
                                Aantal ingeschreven deelnemers: <span
                                        class="font-weight-bold text-secondary">{{ les.registrations|length }} </span>
                            </p>
                            <p class="card-text text-muted">
                                Maximaal aantal deelnemers: <span
                                        class="font-weight-bold text-secondary">{{ les.MaxPersons }}</span>
                            </p>

                            {% if "ROLE_TRAINER" in app.user.getRoles %}
                                <a class="btn btn-danger"
                                   href="{{ path('delete_lesson', {'id': les.id}) }}">Verwijder</a>
                                <a class="btn btn-warning text-white" href="{{ path('edit_lesson', {'id': les.id}) }}">Wijzig</a>
                                <a class="btn btn-dark text-white" href="{{ path('deelnemers', {'id': les.id}) }}">Lijst
                                    met
                                    deelnemers</a>
                            {% else %}
                                <a class="card-link btn btn-outline-success"
                                   href="{{ path('nieuweInschrijving', {id: les.id}) }}">Inschrijven op deze les</a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}
    {% endfor %}



{% endblock %}