{% extends 'bezoeker.html.twig' %}

{% block title %}
    Profiel
{% endblock %}

{% block body %}

    <h1 class="text-secondary">Welkom {{ user.firstname }}</h1>

    {% for flashMessage in app.session.flashbag.get('error') %}

        <div class="alert alert-danger alert-dismissible fade show mb-2 mt-2" role="alert">
            <strong>{{ flashMessage }}</strong>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>

    {% endfor %}

    <dl class="mb-0">
        <dt>Naam:</dt>
        <dd>{{ user.firstname }} {{ user.lastname }}</dd>
        <dt>Email:</dt>
        <dd>{{ user.emailaddress }}</dd>
        <dt>Geboorte datum:</dt>
        <dd>{{ user.dateofbirth|date('d-m-Y') }}</dd>
        {% if user.street %}
            <dt>Adres:</dt>
            <dd>{{ user.street }}, {{ user.postalcode }} {{ user.place }}</dd>
        {% elseif user.salary %}
            <dt>Datum in dienst treding:</dt>
            <dd>{{ user.hiringdate|date('d-m-Y') }}</dd>
            <dt>Salaris:</dt>
            <dt class="text-muted">Per maand</dt>
            <dd>&euro;{{ user.salary }}</dd>
        {% endif %}
    </dl>
    <a class="badge badge-danger" href="{{ path('logout') }}">Uitloggen</a>
    <a href="{{ path('profileEdit', { id: user.id }) }}" class="badge badge-warning mb-3">Wijzig gegevens</a>

{% endblock %}